/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END RESET CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: black;
}

.card {
    --card-height: 535px;
    --card-width: 400px;
    --card-padding: 1rem;
    --margin-bottom: 1rem;
    --card-header-font-size: 2.5rem;
    --app-font-size: 16px;
    --input-height: 35px;
    --footer-height: 45px;

    width: var(--card-width);
    height: var(--card-height);
    background-color: white;
    border-radius: .2rem;
    padding: var(--card-padding);
}

.card__header {
    font-size: var(--card-header-font-size);
    font-weight: bold;
    margin-bottom: var(--margin-bottom);
    color: blue;
}

.card__input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom);
}

.card__input-container__input {
    width: 100%;
    height: var(--input-height);
    border-radius: .2rem;
    border: .1rem solid blue;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: .5rem;
}

.card__input-container__input:focus {
    outline-color: blue;
}

.card__input-container__button-add {
    width: 20%;
    background-color: blue;
    color: white;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
}

.card__content {
    overflow: hidden;
    min-height:
        calc(var(--card-height) - var(--card-header-font-size) - var(--input-height) - var(--footer-height) - var(--margin-bottom) * 2);
    max-height:
        calc(var(--card-height) - var(--card-header-font-size) - var(--input-height) - var(--footer-height) - var(--margin-bottom) * 2);
}


.card__content__empty-list {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.card__content__empty-list-hidden {
    display: none;
}

.card__content__item {
    border: .1rem solid blue;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.card__content__item__content-container {
    display: flex;
    gap: .5rem;
    overflow: hidden;
}

.card__content__item__content-container__index {
    font-weight: bold;
}

.card__content__item__content-container__content {
    display: inline-block;
    width: calc(var(--card-width) - 1rem - .5rem);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.card__content__item_button-container {
    display: flex;
    gap: .5rem;
}

.card__content__item_button-container__button {
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    height: 20px;
}

.card__content__item_button-container__button--detail {
    background-color: green;
    color: white;
}

.card__content__item_button-container__button--delete {
    background-color: red;
    color: white;
}

.card__footer {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__footer__pagination {
    height: 100%;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.card__footer__pagination__button {
    height: 35px;
    width: 35px;
    background-color: blue;
    color: white;
    border-radius: .2rem;
    cursor: pointer;
    border: none;
}

.card__footer__pagination>.active {
    background-color: red;
}

.card__footer__note-count {
    font-weight: bold;
    font-size: smaller;
}